{% extends 'critics/base.html' %}

{% block content %}

<div class="album-info top">
    <div class="top_img img-fluid" style="background-image:url({{ album.artist.image }})"></div>

    <div class="container cont-header p-0">
        {% include 'critics/header.html' %}</div>

    <div class="bg-top {% if album.rating < 50 %} bad {% elif album.rating > 69 %} good {% else %} mixed {% endif %}"></div>

    <div class="headline">
        <div class="album-info headline-text">
            <div class="badge-div">
                <span class="badge badge-primary {% if album.rating < 50 %} bad {% elif album.rating > 69 %} good {% else %} mixed {% endif %}">{% if album.tracks > 8 %} LP {% else %} EP {% endif %}</span></h3>
            </div>
            <span class="genre-list mb-2">{{ album.genre_list }}</span>
            <span class="right-side-contents-number">{{ album.tracks }} faixas</span>
            <h6 class="headline-artist lead"><a href="{% url 'artist_detail' album.artist.id %}">{{ album.artist.name }}</a></h6>
            <h1 class="headline-title mb-0">
                {% if album.name|first in '*' %}
                    {{ album.name|slice:"1:" }} (Revisitado)
                {% else %}
                    {{ album.name }}
                {% endif %}
            </h1>
        </div>
        <div class="headline-rating">
            <span class="rating-number">{{ album.rating }}</span>
            <span class="left-side-contents-number lead">Baseado em <span class="left-side-contents-number-bold">{{ album.count_review }}</span> avaliações</span>
        </div>
        <div class="headline-img">
            <img id="i" src="{{ album.image }}" alt="{{album.artist.name}} - {{album.name}}">
        </div>
    </div>
</div>

<div class="detail-page list-block pt-2 mb-5 pb-5">
    <div class="main-footer">
        <div class="left-side-contents-side me-5">
            <div class="search-field my-4">
                <h4><span class="headingp mx-4">Avaliações:</span></h4>
            </div>

            <div class="left-side-contents-display">
                {% for review in album.reviews.all %}
                    <div class="left-side-content-row">
                        <div class="left-side-content-magazine">
                            <div class="left-side-content-icon">
                                <img src="{{ review.magazine.image }}" class="left-side-content-img" />
                            </div>
                            <span class="left-side-content-name ps-3">
                                <a class="dotted-link" href="{% url 'magazine_detail' review.magazine.id %}">{{ review.magazine.name }}</a>
                            </span>
                        </div>
                        <div class="left-side-content-rating {% if review.rating < 50 %} bad {% elif review.rating > 69 %} good {% else %} mixed {% endif %}">
                            {{ review.rating }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="vr"></div>
        <hr>
        <div class="right-side-contents-side">
            <div class="search-field mt-4 mb-2">
                <h4><span class="headingp mx-4">Melhores faixas:</span></h4>
            </div>
            <div class="right-side-contents-display">
                {% for track in tracklist %}
                    <div class="right-side-content">
                        <div class="right-side-content-info mb-2">
                            <span class="right-side-content-name">{{ track.name }}</span>
                            {% if track.featuring != '' %}
                                {% if track.featuring != None%}
                                    <span class="right-side-content-featuring">featuring {{ track.featuring }}</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="right-side-content-rating {% if track.rating < 50 %} bad {% elif track.rating > 69 %} good {% else %} mixed {% endif %} ms-2">{{ track.rating }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="best-tracks-div">
                <div class="search-field mt-4 mb-2">
                    <h4><span class="headingp mx-4">Notas:</span></h4>
                </div>
                <div class="right-side-contents-display">
                    <div class="right-side-content">
                        <div class="right-side-content-info bars mb-2">
                            <span class="right-side-content-name me-2">Boas</span>
                            <div class="progress" style="height: 5px; width:100%">
                                <div class="progress-bar good" role="progressbar" style="width: {% widthratio good total 100 %}%;" aria-valuenow="{{good}}" aria-valuemin="0" aria-valuemax="{{total}}"></div>
                            </div>
                        </div>
                        <div class="right-side-content-rating ms-2">{% widthratio good total 100 %}%</div>
                    </div>
                    <div class="right-side-content">
                        <div class="right-side-content-info bars mb-2">
                            <span class="right-side-content-name me-2">Mistas </span>
                            <div class="progress" style="height: 5px; width:100%">
                                <div class="progress-bar mixed" role="progressbar" style="width: {% widthratio mixed total 100 %}%;" aria-valuenow="{{mixed}}" aria-valuemin="0" aria-valuemax="{{total}}"></div>
                            </div>
                        </div>
                        <div class="right-side-content-rating ms-2">{% widthratio mixed total 100 %}%</div>
                    </div>
                    <div class="right-side-content">
                        <div class="right-side-content-info bars mb-2">
                            <span class="right-side-content-name me-2">Ruins </span>
                            <div class="progress" style="height: 5px; width:100%">
                                <div class="progress-bar bad" role="progressbar" style="width: {% widthratio bad total 100 %}%;" aria-valuenow="{{bad}}" aria-valuemin="0" aria-valuemax="{{total}}"></div>
                            </div>
                        </div>
                        <div class="right-side-content-rating ms-2">{% widthratio bad total 100 %}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://rmcritic.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}