<a href="{% url 'index' %}">Início</a> <a href="{% url 'artist_index' %}">Artistas</a> <a href="{% url 'magazine_index' %}">Revistas</a> <br>

<img src="{{ artist.image }}" alt="{{ artist.name }}" width="200" height="200"><br>
<h2>{{ artist.name }}</h2>
Gênero: {{ artist.genre_list }}<br>
Média: {{ artist.avg }}<br>
Baseado em {{ artist.count_review }} avaliações

<h1>Albums:</h1>
{% for work in artist.albums.all %}
    {% if work.tracks > 8 %}
        {{ work.rating }}<br>
        {% if work.name|first in '*' %}
            <b><a href="{% url 'album_detail' work.id %}">{{ work.name|slice:"1:" }} (Revisitado)</a></b><br>
        {% else %}
            <b><a href="{% url 'album_detail' work.id %}">{{ work.name }}</a></b><br>
        {% endif %}    <br>
    {% endif %}
{% endfor %}

<h1>EPs:</h1>
{% for work in artist.albums.all %}
    {% if work.tracks <= 8 %}
        {{ work.rating }}<br>
        {% if work.name|first in '*' %}
            <b><a href="{% url 'album_detail' work.id %}">{{ work.name|slice:"1:" }} (Revisitado)</a></b><br>
        {% else %}
            <b><a href="{% url 'album_detail' work.id %}">{{ work.name }}</a></b><br>
        {% endif %}    <br>
    {% endif %}
{% endfor %}

<h1>Melhores faixas:</h1>
{% for track in best_tracks %}
    {{ track.name }} - {{ track.rating }}<br>
    <br>
{% endfor %}

<h1>Piores faixas:</h1>
{% for track in worst_tracks %}
    {{ track.name }} - {{ track.rating }}<br>
    <br>
{% endfor %}

<h1>Maiores notas:</h1>
{% for review in best_reviews %}
    <b>{{ review.magazine.name }}</b><br>
    {{ review.album.name }} - {{ review.rating }}<br>
    <br>
{% endfor %}

<h1>Menores notas:</h1>
{% for review in worst_reviews %}
    <b>{{ review.magazine.name }}</b><br>
    {{ review.album.name }} - {{ review.rating }}<br>
    <br>
{% endfor %}

