{% extends 'critics/base.html' %}

{% block content %}

{% include 'critics/header.html' %}

<img src="{{ artist.image }}" alt="{{ artist.name }}" width="200" height="200"><br>
<h2 class="display-3">{{ artist.name }}</h2>
{% if artist.avg < 50 %} <h1 class="text-danger">{{ artist.avg }}</h1> {% elif artist.avg > 69 %} <h1 class="text-success"> {{ artist.avg }}</h1> {% else %} <h1 class="text-warning">{{ artist.avg }}</h1> {% endif %}
<small class="text-muted">Baseado em {{ artist.count_review }} avaliações </small><br>
Gênero: {{ artist.genre_list }}<br><br>

<h3>Albums:</h3>
{% for work in artist.albums.all %}
    {% if work.tracks > 8 %}
        {% if work.rating < 50 %} <h3 class="text-danger">{{ work.rating }}</h3> {% elif work.rating > 69 %} <h3 class="text-success"> {{ work.rating }}</h3> {% else %} <h3 class="text-warning">{{ work.rating }}</h3> {% endif %}
        {% if work.name|first in '*' %}
            <b><a class="in_detail dotted-link" href="{% url 'album_detail' work.id %}">{{ work.name|slice:"1:" }} (Revisitado)</a></b><br>
        {% else %}
            <b><a class="in_detail dotted-link" href="{% url 'album_detail' work.id %}">{{ work.name }}</a></b><br>
        {% endif %}    <br>
    {% endif %}
{% endfor %}

<h3>EPs:</h3>
{% for work in artist.albums.all %}
    {% if work.tracks <= 8 %}
        {% if work.rating < 50 %} <h3 class="text-danger">{{ work.rating }}</h3> {% elif work.rating > 69 %} <h3 class="text-success"> {{ work.rating }}</h3> {% else %} <h3 class="text-warning">{{ work.rating }}</h3> {% endif %}
        {% if work.name|first in '*' %}
            <b><a class="in_detail dotted-link" href="{% url 'album_detail' work.id %}">{{ work.name|slice:"1:" }} (Revisitado)</a></b><br>
        {% else %}
            <b><a class="in_detail dotted-link" href="{% url 'album_detail' work.id %}">{{ work.name }}</a></b><br>
        {% endif %}    <br>
    {% endif %}
{% endfor %}
<p>
<h4>Melhores faixas:</h4>
{% for track in best_tracks %}
    {{ track.name }} - {{ track.rating }}
    <br>
{% endfor %}
</p><p>
<h4>Piores faixas:</h4>
{% for track in worst_tracks %}
    {{ track.name }} - {{ track.rating }}
    <br>
{% endfor %}
</p>
<h4>Maiores notas:</h4>
{% for review in best_reviews %}
    <b>{{ review.magazine.name }}</b><br>
    {{ review.album.name }} - {{ review.rating }}<br>
    <br>
{% endfor %}

<h4>Menores notas:</h4>
{% for review in worst_reviews %}
    <b>{{ review.magazine.name }}</b><br>
    {{ review.album.name }} - {{ review.rating }}<br>
    <br>
{% endfor %}

{% endblock %}