{% extends 'critics/base.html' %}

{% block content %}

<div class="album-info top">
    <div class="top_img img-fluid" style="background-image:url({{ artist.image }})"></div>

    <div class="container cont-header p-0">
        {% include 'critics/header.html' %}</div>

    <div class="bg-top {% if artist.avg < 50 %} bad {% elif artist.avg > 69 %} good {% else %} mixed {% endif %}"></div>

    <div class="headline">
        <div class="album-info headline-text">
            <!--<div class="badge-div">
                <span class="badge badge-primary {% if artist.avg < 50 %} bad {% elif artist.avg > 69 %} good {% else %} mixed {% endif %}">{% if album.tracks > 8 %} LP {% else %} EP {% endif %}</span></h3>
            </div>-->
            <span class="genre-list mb-2">{{ artist.genre_list }}</span>
            <span class="tracks-number">{{ artist.count_albums }} {% if artist.count_albums != 1 %} trabalhos {% else %} trabalho {% endif %}</span>
            <h6 class="headline-artist lead">{{ artist.country }}</h6>
            <h1 class="headline-title mb-0">{{ artist.name }} </h1>
        </div>
        <div class="headline-rating">
            <span class="rating-number">{{ artist.avg }}</span>
            <span class="reviews-number lead">Baseado em <span class="reviews-number-bold">{{ artist.count_review }}</span> avaliações</span>
        </div>
        <div class="headline-img circle-img">
            <img id="i" src="{{ artist.image }}" alt="{{artist.name}}">
        </div>
    </div>
</div>

<div class="detail-page list-block pt-2 mb-5 pb-5">
    <div class="main-footer">
        <div class="reviews-side me-5">
            {% if lpc != 0 %}
            <div class="albums-rated">
                <div class="search-field my-4">
                    <h4><span class="headingp mx-4">Álbuns:</span></h4>
                </div>

                <div class="reviews-display">
                    {% for work in artist.albums.all %}
                        {% if work.tracks > 8 %}
                        <div class="review-row {% if work.rating < 50 %} bad {% elif work.rating > 69 %} good {% else %} mixed {% endif %}">
                            <div class="review-magazine">
                                <div class="review-icon">
                                    <img src="{{ work.image }}" class="review-img in_album" />
                                </div>
                                <span class="review-name ps-3">
                                    <a class="dotted-link" href="{% url 'album_detail' work.id %}">
                                        {% if work.name|first in '*' %}
                                            {{ work.name|slice:"1:" }} (Revisitado)
                                        {% else %}
                                            {{ work.name }}
                                        {% endif %}
                                    </a>
                                </span>
                            </div>
                            <div class="review-rating {% if work.rating < 50 %} bad {% elif work.rating > 69 %} good {% else %} mixed {% endif %}">
                                {{ work.rating }}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if epc != 0 %}
            <div class="eps-rated">
                <div class="search-field my-4">
                    <h4><span class="headingp mx-4">Extended Plays:</span></h4>
                </div>

                <div>
                    {% for work in artist.albums.all %}
                        {% if work.tracks <= 8 %}
                        <div class="review-row {% if work.rating < 50 %} bad {% elif work.rating > 69 %} good {% else %} mixed {% endif %}">
                            <div class="review-magazine">
                                <div class="review-icon">
                                    <img src="{{ work.image }}" class="review-img in_album" />
                                </div>
                                <span class="review-name ps-3">
                                    <a class="dotted-link" href="{% url 'album_detail' work.id %}">
                                        {% if work.name|first in '*' %}
                                            {{ work.name|slice:"1:" }} (Revisitado)
                                        {% else %}
                                            {{ work.name }}
                                        {% endif %}
                                    </a>
                                </span>
                            </div>
                            <div class="review-rating {% if work.rating < 50 %} bad {% elif work.rating > 69 %} good {% else %} mixed {% endif %}">
                                {{ work.rating }}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="vr"></div>
        <hr>
        <div class="tracks-side">
            <div class="best-tracks-div">
                <div class="search-field mt-4 mb-2">
                    <h4><span class="headingp mx-4">Melhores faixas:</span></h4>
                </div>
                <div class="tracks-display">
                    {% for track in best_tracks %}
                        <div class="track">
                            <div class="track-info mb-2">
                                <span class="track-name">{{ track.name }}</span>
                                {% if track.featuring != '' %}
                                    {% if track.featuring != None%}
                                        <span class="track-featuring">featuring {{ track.featuring }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="track-rating {% if track.rating < 50 %} bad {% elif track.rating > 69 %} good {% else %} mixed {% endif %} ms-2">{{ track.rating }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="best-tracks-div">
                <div class="search-field mt-4 mb-2">
                    <h4><span class="headingp mx-4">Piores faixas:</span></h4>
                </div>
                <div class="tracks-display">
                    {% for track in worst_tracks %}
                        <div class="track">
                            <div class="track-info mb-2">
                                <span class="track-name">{{ track.name }}</span>
                                {% if track.featuring != '' %}
                                    {% if track.featuring != None%}
                                        <span class="track-featuring">featuring {{ track.featuring }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="track-rating {% if track.rating < 50 %} bad {% elif track.rating > 69 %} good {% else %} mixed {% endif %} ms-2">{{ track.rating }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="biggest-ratings">
                <div class="search-field mt-4 mb-2">
                    <h4><span class="headingp mx-4">Melhores notas:</span></h4>
                </div>
                <div class="ratings-rank-display">
                    {% for review in best_reviews %}
                        <div class="track">
                            <div class="track-info mb-2">
                                <span class="track-name"><a href="{% url 'magazine_detail' review.magazine.id %}">{{ review.magazine.name }}</a></span>
                                <span class="track-featuring"><a href="{% url 'album_detail' review.album.id %}">
                                    {% if review.album.name|first in '*' %}
                                        {{ review.album.name|slice:"1:" }} (Revisitado)
                                    {% else %}
                                        {{ review.album.name }}
                                    {% endif %}
                                </a></span>
                            </div>
                            <div class="track-rating {% if review.rating < 50 %} bad {% elif review.rating > 69 %} good {% else %} mixed {% endif %} ms-2">{{ review.rating }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="smallest-ratings">
                <div class="search-field mt-4 mb-2">
                    <h4><span class="headingp mx-4">Piores notas:</span></h4>
                </div>
                <div class="ratings-rank-display">
                    {% for review in worst_reviews %}
                        <div class="track">
                            <div class="track-info mb-2">
                                <span class="track-name"><a href="{% url 'magazine_detail' review.magazine.id %}">{{ review.magazine.name }}</a></span>
                                <span class="track-featuring"><a href="{% url 'album_detail' review.album.id %}">
                                    {% if review.album.name|first in '*' %}
                                        {{ review.album.name|slice:"1:" }} (Revisitado)
                                    {% else %}
                                        {{ review.album.name }}
                                    {% endif %}
                                </a></span>
                            </div>
                            <div class="track-rating {% if review.rating < 50 %} bad {% elif review.rating > 69 %} good {% else %} mixed {% endif %} ms-2">{{ review.rating }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://rmcritic.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}