{% extends 'critics/base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'dist/js/getcolor.js' %}"></script> 

<div class="top">
    <div class="top_img img-fluid" style="background-image:url({{ latest.artist.image }})">
        
    </div>

    <div class="container cont-header p-0">
        {% include 'critics/header.html' %}</div>

    <div class="headline">
        <div class="headline-text">
            <a href="{% url 'album_detail' latest.id %}">CONFERIR</a>
            <h6 class="headline-artist lead">{{ latest.artist.name }}</h6>
            <h1 class="headline-title mb-0">
                {% if latest.name|first in '*' %}
                   {{ latest.name|slice:"1:" }} (Revisitado)
                {% else %}
                    {{ latest.name }}
                {% endif %}
            </h1>
            <span class="badge badge-primary">NOVA REVIEW</span></h3>
        </div>
        <img id="i" src="{{ latest.image }}" alt="{{latest.artist.name}} - {{latest.name}}">
    </div>
</div>

<div class="list-block">

    <div class="search-field my-4">
        <span class="headingp mx-4">Outras Avaliações:</span>
        <div class="input-group">
            <form class="form-search" method='GET'>
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" name='q' placeholder="Buscar" value='{{ request.GET.q }}'/>
                </div>
                <button type="submit" class="btn btn-primary btn-search" >
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>

    {% if latest_album_list %}
        <div class="card-group">
            <div class="row">
                    {% for album in latest_album_list %}
                        {% if album.rating != None %}
                            <div class="card col-md-4">
                                <article class="postcard {% if album.rating < 50 and album.rating >= 0 %} bad {% elif album.rating > 69 and album.rating < 101 %} good {% elif album.rating > 49 and album.rating < 70 %} mixed {% else%} neutre {% endif %} detail_s_color .small">
                                    <a class="postcard__img_link" href="{% url 'album_detail' album.id %}">
                                        <img class="postcard__img" src="{{ album.image }}" alt="{{ album.artist }} - {{ album.name}}" />
                                    </a>
                                    <div class="postcard__text">
                                        <table class="content-table">
                                            <tr>
                                                <td>
                                                    <h1 class="postcard__title detail_s_color">
                                                        {% if album.name|first in '*' %}
                                                            <a class="in_detail dotted-link" href="{% url 'album_detail' album.id %}">{{ album.name|slice:"1:" }} (Revisitado)</a>
                                                        {% else %}
                                                            <a class="in_detail dotted-link" href="{% url 'album_detail' album.id %}">{{ album.name }}</a>
                                                        {% endif %}
                                                    </h1>
                                                    <div class="postcard__subtitle small">
                                                        <h6 class="card-subtitle mb-2 lead"><a href="{% url 'artist_detail' album.artist.id %}">{{ album.artist }}</a></h6>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h1 class="rate">{% if album.rating < 0 %} - {% else %} {{ album.rating }} {% endif %}</h1>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <ul class="postcard__tagbox">
                                                        <li class="tag__item play detail_s_color">{{ album.count_review }} avaliações</li>
                                                        <li class="tag__item play detail_s_color">{{ album.tracks }} tracks</li>
                                                        <li class="tag__item play detail_s_color">{% if album.tracks > 8 %} LP {% else %} EP {% endif %}</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </article>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    {% else %}
        <p>Nenhum álbum encontrado.</p>
    {% endif %}
</div>

{% include 'critics/pagination.html' %}

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://rmcritic.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}

<!--

<img class="card-img-top" src="{{ album.image }}">
                        <div class="card-body">
                            <h4 class="card-title">
                                {% if album.name|first in '*' %}
                                    <a class="in_detail dotted-link" href="{% url 'album_detail' album.id %}">{{ album.name|slice:"1:" }} (Revisitado)</a>
                                {% else %}
                                    <a class="in_detail dotted-link" href="{% url 'album_detail' album.id %}">{{ album.name }}</a>
                                {% endif %}
                            </h4>
                            <h6 class="card-subtitle mb-2 lead text-muted"><a href="{% url 'artist_detail' album.artist.id %}">{{ album.artist }}</a></h6>
                        </div>
-->